<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FestiQueb - Détails Billet</title>
    <script src="../static/app.js"></script>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
{% include menu %}
<button onclick="location.href ='/magasin'"><-</button>

<h1>{{ type_billet.nom }}</h1>
<p>${{ type_billet.prix }}</p>
<ul>
    <li>
        <label for="quantite">Quantité: </label>
        <input id="quantite" type="number" name="quantite-billet" value="1">
    </li>
    {% if not type_billet.sans_limite %}
    <li>
        <label for="spectacle">Spectacle: </label>
        <select name="spectacle" id="spectacle">
            {% for spectacle in spectacles %}
            <option value="{{ spectacle.sid }}">{{ spectacle.nom }}</option>
            {% endfor %}
        </select>
    </li>
    {% endif %}
</ul>
<button onclick="ajouterAuPanier('{{ type_billet.tbid }}')" type="button">Ajouter au panier</button>


</body>
</html>