<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scanner</title>
    <script src="../static/app.js"></script>

</head>
<body>
{% include menu %}
<div>
    <label for="id_billet"></label>
    <input id="id_billet" name="id_billet" type="text">
    <label for="id_spectacle">Spectacle: </label>
    <select name="spectacle" id="id_spectacle">
        {% for spectacle in spectacles %}
        <option value="{{ spectacle.sid }}">{{ spectacle.nom }}</option>
        {% endfor %}
    </select>
    <button onclick="validerBillet(event)" type="button">Valider Billet</button>
</div>

<div id="resultat-validation"></div>
</body>
</html>