<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include menu %}
<form id="form-validation" target="frame" action="/valider-billet" method="post">
    <label for="id_billet"></label>
    <input id="id_billet" name="id_billet" type="text">
    <button type="submit">Valider Billet</button>
    <label for="spectacle">Spectacle: </label>
    <select name="spectacle" id="spectacle">
        {% for spectacle in spectacles %}
        <option value="{{ spectacle.sid }}">{{ spectacle.nom }}</option>
        {% endfor %}
    </select>
</form>
<iframe name="frame" frameborder="0">
    {% if true %}

</iframe>
</body>
</html>